<div class="interior">
  <%= render "/header" %>
  <div class="main">
    <div class="padding">
      <h1>Parking</h1>
      <%= image_tag "header_line.png", :height => "4", :width => "100%" %><br />
      <div class="artist">
        Parking Garages in the vicinity of Festival venues:<br/>
        <br/><strong>Central Parking</strong><br />
        Downtown Garage<br />
        (Enter on Crown)<br />
        7am-7pm, Mon-Wed<br />
        7am-10pm, Thursday<br />
        7am-2:30am, Friday<br />
        6pm - 2:30am, Saturday<br/>
        <br/><strong>ProPark</strong><br />
        Center Bank Lot<br />
        (Enter on Crown)<br />
        5pm - 11pm, Mon-Fri<br />
        8am-12am, Sat &amp; Sun<br/>
        <br/>Coliseum Lot<br />
        (Enter on Orange)<br />
        5pm - 11pm, Mon-Fri<br />
        8am-12am, Sat &amp; Sun<br/>
        <br/>Neon Garage Lot<br/>
        (Enter on Crown)<br />
        5pm-11pm, Mon-Fri<br />
        8am-12am, Sat &amp; Sun<br/>
        <br/><strong>New Haven Parking Authority</strong><br />
        Broadway<br />
        Plaza<br />
        Lot<br />
        (Enter on Broadway)<br />
        9am-2am, 7 days<br/>
        <br/>Crown Street Garage:<br />
        (Enter Crown or College)<br />
        7am-2am, 7 days<br/>
        <br/>Temple Street Garage:<br />
        (Enter Temple or George)<br />
        24 Hours, 7 Day<br/>
        <br/><strong>LAZ Parking</strong><br />
        Grove Street Garage:<br />
        (Enter on Grove)<br />
        7am-9pm, Mon-Fri<br/>
        <br/>Financial Center Garage:<br />
        (Enter on Elm)<br />
        7am-9pm Mon-Fri<br/>
        <br/>Ninth Square &amp; George:<br />
        (Enter on George)<br />
        7am-11pm, Mon-Fri<br/>
        <br/>Chapel/York Garage:<br />
        (Enter on York)<br />
        7am-9pm, Mon-Sat<br/>
        <br/>Audubon Court Garage:<br />
        (Enter on Audubon)<br />
        7am-10pm, Mon-Fri<br />
        8am-6pm, Saturday<br/>
        <br/>Century Towers<br />
        Garage:<br />
        (Enter on Church or Grove)<br />
        7am-9pm, Mon-Fri
      </div>
    </div>
  </div>
  <%= render "/footer" %>
</div>