<div class="interior">
  <%= render "/header" %>
  <div class="main">
    <div class="padding">
      <h1>Parking</h1>
      <%= image_tag "header_line.png", :height => "4", :width => "100%" %><br />
      <div class="artist">
       venue information
      </div>
    </div>
  </div>
  <%= render "/footer" %>
</div>