
  <div class="col1wrap">
      <div class="col1">
        <!-- Column 1 start -->
        <div class="image-wrap" id="wrapper"><img src="http://placehold.it/600x400"></div>
        <h2>Pool-Bible House (1906)</h2>
        <p>Bacon ipsum dolor sit amet cupidatat esse nisi strip steak, incididunt cillum tri-tip shank sunt t-bone. Shank beef ribs tri-tip eiusmod voluptate beef ground round reprehenderit enim ball tip deserunt. Excepteur et aute sed fugiat, laboris sunt cupidatat sausage turducken drumstick venison beef short ribs fatback. Sirloin corned beef veniam filet mignon, in incididunt nulla beef brisket cillum irure ut esse officia.</p>

        <p>Id aliqua in ham hock, dolore occaecat veniam excepteur incididunt venison. Cow in veniam, anim ut do labore. Bacon cupidatat rump beef ribs boudin pork belly bresaola tri-tip pastrami, andouille ex id ullamco qui non. Tempor cow voluptate pastrami. Pork nisi shank, meatloaf cupidatat kielbasa swine excepteur. Quis ex aliquip, id chuck consequat veniam nostrud mollit fugiat kielbasa. Eiusmod pork belly strip steak, ground round in occaecat ea kielbasa magna dolore short loin short ribs laborum ribeye.</p>

        <p>Hamburger sed leberkas prosciutto venison. Nisi hamburger pork loin cillum. Et ribeye capicola fatback, flank officia ball tip beef chuck reprehenderit shoulder elit cow tenderloin tail. Esse elit in, strip steak spare ribs sirloin mollit venison ribeye dolore turducken jowl cow ground round turkey. Ribeye tempor salami, voluptate tri-tip velit drumstick tongue dolor aliquip.</p>
        <!-- Column 1 end -->
      </div>
  </div>
  <%= render "/left_nav" %>
  <div class="col3">
    <br/>
    <!-- Column 3 start -->
    <div class="image-wrap" id="wrapper"><img src="http://placehold.it/200x150"></div>
    <h3>Pool-Tibbs</h3>
    <p>Bacon ipsum dolor sit amet cupidatat esse nisi strip steak, incididunt cillum tri-tip shank sunt t-bone. Shank beef ribs tri-tip eiusmod voluptate beef ground round reprehenderit enim ball tip deserunt. <a href="#">...more</a></p>
    <div class="image-wrap" id="wrapper"><img src="http://placehold.it/200x150"></div>
    <h3>McNeil</h3>
    <p>Bacon ipsum dolor sit amet cupidatat esse nisi strip steak, incididunt cillum tri-tip shank sunt t-bone. Shank beef ribs tri-tip eiusmod voluptate beef ground round reprehenderit enim ball tip deserunt. <a href="#">...more</a></p>
    <div class="image-wrap" id="wrapper"><img src="http://placehold.it/200x150"></div>
    <h3>Carpenter</h3>
    <p>Bacon ipsum dolor sit amet cupidatat esse nisi strip steak, incididunt cillum tri-tip shank sunt t-bone. Shank beef ribs tri-tip eiusmod voluptate beef ground round reprehenderit enim ball tip deserunt. <a href="#">...more</a></p>
    <!-- Column 3 end -->
  </div>

