<div class="interior">
  <%= render "/header" %>
  <div class="main">
    <div class="padding">
      <h1>About Us</h1>
      <%= image_tag "header_line.png", :height => "4", :width => "100%" %><br />
      <div class="artist">
        <div class="image-wrap" id="wrapper">
        </div>  <br />
        AT&amp;T is the Official Technology Sponsor of The International Festival of Arts &amp; Ideas.<br/>
<br/>
 

Stop by AT&amp;T Retail Locations Nearby:<br/><br/>

936B Chapel St.<br/>

Downtown New Haven, CT  06510<br/>

Phone: <a href="tel:2039073100">203-907-3100</a><br/>

 <br/>
<br/>
300 Universal Drive North<br/>

North Haven, CT  06473<br/>

Phone: <a href="tel:2039850486">203-985-0486</a><br/><br/>

<a href="http://www.att.com/storelocator/">Find an AT&amp;T store near you</a><br/><br/>
Introducing AT&amp;T 4G in Connecticut. <br/>

Get it fast with AT&amp;T, the nation’s largest 4G network.  Make sure to check out the latest and greatest from AT&amp;T. <br/>

<a href="http://www.att.com/network/?wtSlotClick=1-007HZD!903900-3-1&amp;rel=nofollow">Learn more about AT&amp;T 4G</a><br />
        <br />
      </div>
    </div>
  </div>
  <%= render "/footer" %>
</div>