<div class="footer">
  <br />
  <hr>
  <br />
    &copy; 2012 International Festival of Arts &amp; Ideas<br />
    New Haven, Connecticut<br />
    <br />
  <a href="tel:8882784332">(888) ART-IDEA</a> &nbsp; | &nbsp; <a href="http://artidea.org/general-contact" onClick="_gaq.push(['_trackEvent', 'Outbound', 'Arts_idea_contact']);">Contact Us</a><br />
  <br />
  <hr />
  <br/>
  <a href="http://www.att.com" onClick="_gaq.push(['_trackEvent', 'Outbound', 'ATT_Home']);">attwireless.com</a><br />
</div>
