<div class="header">
  <div class="left"><%= image_tag "att_logo.png", :size => "48x22" %></div>
  <div class="right"><a href="/"><%= image_tag "arts_ideas_logo_int.png", :size => "127x41" %></a></div>
</div>