<div class="col2">
  <!-- Column 2 start -->
  <nav>
  <ul>
      <li><a class='navlink' href='#'>Home</a></li>
      <li><a class='navlink' href='#'>Featured</a></li>
      <li><a class='navlink' href='#'>Map</a></li>
      <li><a class='navlink' href='#'>About</a></li>
      <li><a class='navlink' href='#'>Links</a></li>
  </ul>
</nav>
  <!-- Column 2 end -->
</div>
